.nav-Navigation nav {
    border-bottom: 2px solid #ddd;
    padding: 20px;
    z-index: 184;
    margin-left: 2rem;
}

.nav-product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .nav-container .input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f7;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    width: 14rem;
    position: relative;
 }

 .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    color: #fff;
 }