.card-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-detail-infor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}

.card-detail-image {
    flex: 1;
    max-width: 50%;
    text-align: center;
    padding: 20px;
    left: 9px;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.card-detail-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-detail-desciption {
    flex: 2;
    padding: 10px;
    text-align: left;
    left: 40px;
    right: 20px;

}
.card-detailback{
    bottom: 0px;
    left: 10px;
    bottom: 10px;
    position: absolute;
}
.card-detailback ButtonMenu {
    display: inline-flex;
    align-items: center;
}
.detaildescription {
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    display: -webkit-box;

    -webkit-box-orient: vertical;
}

.card-detail-desciption p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.card-detail-operation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card-detail-operation button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.card-detail-operation button:hover {
    background-color: #0056b3;
}

.detailtitle {
    font-size: 3rem !important;
    font-weight: 600 !important;
    text-align: center !important;
    top: 20px !important;
}

.detailprice,
.detailreview {
    font-size: 1.3rem !important;
    font-weight: 600 !important;

    top: 20px !important;
}

.detailcart {
    position: absolute;
    top: 35vh !important;
    right: 50px;
}

.card-review-container.active {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    display: none;
}

.button-reviews.active .card-review-container{
    display: block;
}

.review-form {
    margin-bottom: 20px;
}

.card-review-top {
    margin-top: 40px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    margin-bottom: 10px;
    gap: 0px;
}

.card-write-review {
    padding: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
}