.voucher-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin: 10px;
}

.voucher-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 270px;
}

.voucher-card h3 {
  margin: 0 0 10px;
}

.voucher-card p {
  margin: 5px 0;
}
