.sidebar {
    display: flex;
    align-items: center;
    width: 15%;
    position: fixed;
    height: 100%;
    border-right: 2px solid #e5e5e5;
    flex-direction: column;
    z-index: 4;
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: normal;
}

.sidebar-logo-container {
    margin-bottom: 4rem;
}

.sidebar-logo-container h2{
    margin-top: 1.3rem;
}