.cart-container {
    width: 10px;
    height: 10px;
    background: #f8f8f8;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: fixed;
    right: 100px;
    top: 35vh;
    text-align: center;
    cursor: pointer;
    z-index: 999;

}